language: php
php:
  - '7.1'
  - '7.2'
  - '7.3'
  - '7.4'
  - '8.0'
  - '8.1'
env:
  - laravel=5.8.*
  - laravel=^6.0
  - laravel=^7.0
  - laravel=^8.0
  - laravel=^9.0

matrix:
  exclude:
    - php: '7.1'
      env: laravel=^6.0
    - php: '7.1'
      env: laravel=^7.0
    - php: '7.1'
      env: laravel=^8.0
    - php: '7.1'
      env: laravel=^9.0
    - php: '7.2'
      env: laravel=^8.0
    - php: '7.2'
      env: laravel=^9.0
    - php: '7.3'
      env: laravel=^9.0
    - php: '7.4'
      env: laravel=^9.0
    - php: '8.0'
      env: laravel=5.8.*
    - php: '8.1'
      env: laravel=5.8.*
    - php: '8.1'
      env: laravel=^6.0
    - php: '8.1'
      env: laravel=^7.0

cache:
  directories:
    - $HOME/.composer/cache

install:
  - travis_retry composer require "illuminate/contracts=$laravel" --no-update
  - travis_retry composer update --prefer-dist --no-interaction --prefer-stable --no-suggest

script:
  - vendor/bin/phpunit --coverage-clover build/logs/clover.xml

after_success:
  - travis_retry vendor/bin/php-coveralls -v